<a href="https://colab.research.google.com/github/p2houd/vlan/blob/main/vlan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install netaddr 1>/dev/null 2>/dev/null
!pip3 install matplotlib 1>/dev/null 2>/dev/null
import pandas as pd
import numpy as np
import matplotlib as mpl
from netaddr import *


middle_subnet_length = 24
vlan_subnet_length = 27

all_networks = [x.network for x in IPNetwork('192.168.0.0/16').subnet(vlan_subnet_length)]
# Change it to shift vlan ids
locations_vlan_offset = 896

locations = {
    'test': IPNetwork('192.168.0.0/20'),
    'cloudru': IPNetwork('192.168.16.0/20'),
    'home': IPNetwork('192.168.32.0/20'),
}

def get_vlan(offset, network, all_networks):
    return offset+all_networks.index(network.network)

devices = [
    {
        'network': IPNetwork(item['network']),
        'vlan': get_vlan(
            offset=locations_vlan_offset,
            network=IPNetwork(item['network']),
            all_networks=all_networks,
        ),
        'device': item['device'],
    }
    for item in [
        {'network': '192.168.32.0/24', 'device': 'wifi1lan'},
        {'network': '192.168.33.0/27', 'device': 'core'},
        {'network': '192.168.33.32/27', 'device': 'data'},
        {'network': '192.168.33.64/27', 'device': 'backup'},
        {'network': '192.168.33.96/27', 'device': 'vdi'},
        {'network': '192.168.33.128/27', 'device': 'wifi2wan'},
        {'network': '192.168.33.160/27', 'device': 'switch'},
        {'network': '192.168.33.224/27', 'device': 'kubernetes'},
        {'network': '192.168.34.0/24', 'device': 'wifi2lan'},
        {'network': '192.168.35.0/27', 'device': 'postgresql'},
        {'network': '192.168.35.32/27', 'device': 'pgvecto'},
        {'network': '192.168.35.64/27', 'device': 'nextcloud'},
        {'network': '192.168.35.96/27', 'device': 'immich'},
        {'network': '192.168.35.128/27', 'device': 'redis'},
        {'network': '192.168.35.160/27', 'device': 'caddy'},
    ]
]

df = pd.DataFrame(devices).reindex(range(len(devices)), fill_value='')

df.index = df.index + 1
df.style.format(precision=0)

# Example output
# +----+-------------------+------+-----------+
# | No |     Network       | VLAN |  Device   |
# +----+-------------------+------+-----------+
# | 1  | 192.168.32.0/24   | 1152 | wifi1lan  |
# | 2  | 192.168.33.0/27   | 1160 | core      |
# | 3  | 192.168.33.32/27  | 1161 | data      |
# | 4  | 192.168.33.64/27  | 1162 | backup    |
# | 5  | 192.168.33.96/27  | 1163 | vdi       |
# | 6  | 192.168.33.128/27 | 1164 | wifi2wan  |
# | 7  | 192.168.33.160/27 | 1165 | switch    |
# | 8  | 192.168.33.224/27 | 1167 | kubernetes|
# | 9  | 192.168.34.0/24   | 1168 | wifi2lan  |
# | 10 | 192.168.35.0/27   | 1176 | postgresql|
# | 11 | 192.168.35.32/27  | 1177 | pgvecto   |
# | 12 | 192.168.35.64/27  | 1178 | nextcloud |
# | 13 | 192.168.35.96/27  | 1179 | immich    |
# | 14 | 192.168.35.128/27 | 1180 | redis     |
# | 15 | 192.168.35.160/27 | 1181 | caddy     |
# +----+-------------------+------+-----------+